<section class="section" id="cover-home">
  <div class="container">
    <div class="row">
      <div class="photo">
        <amp-img src="https://firebasestorage.googleapis.com/v0/b/nicobytes-7bea8.appspot.com/o/DSC00733.JPG?alt=media&token=2348371c-71c6-46ac-bd42-bf56e5522293" alt="nicobytes" width="800" height="878" layout="responsive"></amp-img>
      </div>
      <div class="bio">
        <span class="greet">¡Hola!</span>
        <h1>Ibar Mario <small>(@ibarmario)</small><a class="btn" href="{{ site.twitter }}" target="_blank">
            <i class="icon-twitter"></i>
          </a></h1>
        <h3>Full Stack Web Developer & Mobile Apps</h3>
        <hr/>
        <p>Hola, Mi nombre es Ibar Mario y soy desarrollador web <span class="tag">y de aplicaciones móviles </span> & <span class="tag">#Ionic #Angular</span>, también investigador apasionado <span class="tag">#Information security</span> y amante del <span class="tag">#Hacking</span> pero... <span class="tag">#HackingEtico</span>.</p>
        <p>Amo el trabajo Freelancer desde donde esté y estar al tanto de <span class="tag">#NuevasTecnologías</span>.</p>
      </div>
    </div>
    <div class="social">{% for social in site.social %}
      <a href="{{ social.link }}" target="_blank">
        <i class="icon-{{ social.icon }} fa-2x"></i>
      </a>{% endfor %}
    </div>
  </div>
</section>
